.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10%;
    overflow-y: auto;
    padding-bottom: 20%;
}
.about-box {
    border: 1px solid #000;
    padding: 1%;
    background-color: #71BC78; 
    width: 40%;
    height: 50vh;
    border-radius: 5%;
    top: 25%; 
    left: 30%; 
    position: absolute;
    overflow: auto;
    padding: auto;
}
.container-about {
    display: block;
    margin-bottom: 10px;
    overflow: auto;
}
.text-about{ 
   text-align: center;
}
.text-about h1, h2{
    text-align: center;
}
.text-about p{
    text-align: left;
}
/* AboutPage.css */
.text-divider{
    color: #333; /* Adjust as needed */
    border-bottom: 1px solid #020202; /* Add a border to the bottom */
    padding-bottom: 10px; /* Add some padding to the bottom */
    margin-bottom: 20px; /* Add some margin to the bottom */
  }