.content {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;
  justify-content: center; /* Centers children horizontally */
  align-items: flex-start; /* Aligns children to the start vertically */
}

.heading {
  padding-left: 20%;
  width: 100%;
  font-family:'GooseCowboy';
  color: #654321;
  font-size: 7em;
  text-align: center; /* Centers the text within the heading */
}
.goose {
  width: 25%;
  height: auto;
  padding-left: 20%;
  
}