.content {
  display:flex;
  flex-wrap: wrap;
  grid-auto-flow: row;
}

.line1 {
  position: absolute;
  top: 17%; /* Adjust this value as needed */
  left: 17%; /* Adjust this value as needed */
  padding: 1%; 
}

.line2 {
  position: absolute;
  top: 35%; /* Adjust this value as needed */
  left: 25%;/* Adjust this value as needed */
  padding: 1.5%;
}

.line3 {
  position: absolute;
  top: 55%; /* Adjust this value as needed */
  left: 35%; /* Adjust this value as needed */
  padding: 2%;
}
.image-content{
  flex: 1;
}

.plant{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 35%;
  height: auto;
}