.f-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.feedback-box{
    border: 1px solid #000;
    padding: 10px;
    background-color: #ACE1AF; 
    width: 300px;
    border-radius: 10px;
    top:25%; 
    left: 35%; 
    position: absolute;
}
.f-container-input{
    display: block;
    margin-bottom: 10px;
}

.text-feedback{
    text-align: center;
}

.plant6{
    position: absolute;
    right: 0;
    top: 50px;
    width: 400px;
    height: auto;
  }

.plant7{
    position: absolute;
    left: 0;
    top: 50px;
    width: 400px;
    height: auto;
}