.upload-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.upload-box{
    border: 1px solid #000;
    padding: 10px;
    background-color: #ACE1AF; 
    width: 300px;
    border-radius: 10px;
    top:25%; 
    left: 35%; 
    position: absolute;
}

.upload-button{
    margin-top: 20px;
}
.plant4{
    position: absolute;
    right: 0;
    top: 50px;
    width: 400px;
    height: auto;
  }

.plant5{
    position: absolute;
    left: 0;
    top: 50px;
    width: 400px;
    height: auto;
}