.topbar{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #228B22;
    overflow: hidden;
}
.topbar a{
    float: left;
    display: block;
    color: #f5f5dc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;	
}