.topbar{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cc840f;
    overflow: non;
    height: 75px; 
    z-index: 1;
}
.topbar a{
    float: left;
    /* display: block; */
    color: #ffffff;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;	
}
.topbar a:hover{
    color: #f6f6c0;
}



ul li ul li a:hover {
  color: #f9f9f9; 
}

ul li {
  display: inline-block;
  position: relative;
}

.navbar-right{
    float: right;
    margin-right: 20px;
}

.gooseHead{
    width: 60px;
    height: auto;
    padding-left: 20px;
}

.wallet{
    padding: 3px; 
    background-color: rgb(249, 176, 40);
    border-radius: 10px;
}