#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: 0;
  background-color: #fed8b1;
}

body {
  max-width: 1280px;
  min-width: 500px;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #fed8b1;
}